exportPattern("^[[:alpha:]]+")
import("lpSolveAPI")
import("dplyr")
import("ROI")
import("ROI.plugin.glpk")
import("ompr")
import("ompr.roi")
importFrom("utils", "install.packages", "installed.packages")
export(Mal_Ben)
export(DeaMultiplierModel)
export(CrossEfficiency)
export(SDEA)
export(MPI)
